body {
font-family: Arial, sans-serif;
background-color: #0e8bbd;
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
}

fieldset{
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    border: solid #33220c;
    border-radius: 15px;
}

input {
width: 380px;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #000000;
border-radius: 5px;
font-size: 14px;
margin-top: 50px;
}

button {
    height: 40px;
    width: 50px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(3, 201, 250);
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: rgb(3, 201, 250) ;
}

#clima-card {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
  }

  #clima-card:hover {
    transform: translateY(-5px);
  }

  #clima-card h2 {
    margin-bottom: 10px;
  }

  #clima-card p {
    margin: 5px 0;
    font-size: 1.1em;
}